# ==============================================================================
# Python defaults
# ==============================================================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor specific
.idea/
.vscode/
*.swp
*~

# ==============================================================================
# Project-specific files (Generated data and raw data)
# ==============================================================================

# ------------------------------------------------------------------------------
# 1.Training Data Folder の設定
# ------------------------------------------------------------------------------
# assetsフォルダの中身は「すべて無視」します
/1.Training Data Folder/assets/*

# 【例外設定】ただし、1.raw_data フォルダだけは無視しません（追跡します）
!/1.Training Data Folder/assets/1.raw_data/


# ------------------------------------------------------------------------------
# 2.Normal Magnetization Curve Extraction Folder の設定
# ------------------------------------------------------------------------------
# assetsフォルダ自体を無視します
/2.Normal Magnetization Curve Extraction Folder/assets/


# ==============================================================================
# Configuration files
# ==============================================================================
# 各環境で異なる設定ファイルをGitの追跡対象から除外します。
/2.Normal Magnetization Curve Extraction Folder/config/
/1.Training Data Folder/config/

/3.Answer/
/4.Answer (Bayesian_optimization)/
/3.Answer/hyperparameters/

# configフォルダ内の特定の.iniファイルを無視
config/*.ini

# docs/ は追跡するため、ここから削除しました